.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
}

.card a.details {
    margin-top: 0.5em;
    background-color: var(--grey) !important;
    color: white !important;
}

.card a.details:hover {
    background-color: var(--leight-grey) !important;
    color: var(--grey) !important;
}

.card div.details {
    flex: 1 1 auto;
    min-height: 1pz;
    padding: 1.2em;
    background: white;
}

.card p {
    margin-bottom: .5em;
}

.name {
    font-size: 16px;
    margin-bottom: 0.75rem;
    color: var(--grey);
    font-weight: bold;
}

.image {
    width: 100%;
    height: autp;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid var(--primary-colour);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1000px) {
    .card {
        flex: 1;
    }
}